@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

.input-group.search-input{
    max-width: 450px; 
    margin-left: 2%;
    margin-right: 2%;
}

.iq-header-img {
    position: relative;
    overflow: hidden;
}

.iq-header-img img {
    width: 100%;
    height: auto;
}

.iq-navbar {
    max-height: 70px;
  }

.iq-header-img h1{
    position: absolute;
    font-size: 2.5rem;
    font-weight: bolder;
    top: 35%;
    left: 10%;
}
.iq-header-img p {
    position: absolute;
    padding-top: 10px;
    font-size: 1.1rem;
    top: 50%;
    left: 10%;
}

.container{
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.containerrecent{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    row-gap: 30px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.testimonial img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.slide p{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #333;

}

.icon img{
    width: 30px;
    height: 30px;
}

.swiper-button-next{
    transform: translateY(30px);
}

.nav-btn{
    background-color: #f0f0f0;
    transform: translateY(30px);
    transition: 0.2s;
}

.nav-btn::after,
.nav-btn::before{
    font-size: 20px;
    color: #3A57E8;
}

.swiper-pagination-bullet{
    background-color: rgb(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active{
    background-color: #3A57E8;
}

.feature img{
    width: 40px;
    height: 40px;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
  }

  #carouselCategory .carousel-control-next,
  #carouselCategory .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
  }

/* Form */
.form-control{
    border-radius: 10px;
}

.dropdown-toggle{
    height: 25px;
    width:515px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.submit{
    background-color: #1b47e3;
    
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

/* Form Sign In */
.signin-form {
    padding: 30px 35px;
    background-color: transparent;
    border: none;
  }

/* Form Log In*/
.login-form{
    background-color: transparent;
    border: none;
}

.signup-form{
    background-color: transparent;
    border: none;
    margin-left: 150px;
    margin-top: 40px;
}

  